
.trending { margin-block: 0 40px; }

.trending-container {
    display: flex;
    align-items: center;
    column-gap: 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.trending-container::-webkit-scrollbar {
    display: none;
}

.trending-item {
    position: relative;
    height: 200px;
    max-height: 200px;
    min-width: 400px;
    scroll-snap-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.trending-item:hover {
    cursor: pointer;
}

.trending-item::after {
    content: "";
    position: absolute;
    width: 100%;
    inset: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8));
    z-index: 1;
}

@media screen and (max-width: 990px) {
    .trending { 
        width: 95%; margin-inline: auto 0; 
    }

    .trending-item {
        height: 160px;
        max-height: 160px;
        min-width: 300px;
    }
}

@media screen and (max-width: 450px) {
    .trending-item {
        height: 130px;
        max-height: 130px;
        min-width: 220px;
    }
}
